<div id="<%= dom_id event %>">

  <p>
    <strong>Event name:</strong>
    <%= event.eventName %>
  </p>
  <p>
<p>
    <strong>Exhibitor name:</strong>
    <%= event.exhibitor %>
  </p>
  <p>
    <strong>Level:</strong>
    <%= event.level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.descripcion %>
  </p>

  <p>
    <strong>date:</strong>
    <%= event.date %>
  </p>

</div>